@model IEnumerable<Web.Models.Comment>

<table class="table">
    @foreach (var item in Model)
    {
        <dl>
            <dd>
                @Html.DisplayFor(modelItem => item.Author)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.DateTime)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.Content)
            </dd>

        </dl>
    }

</table>
