@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chez moi<br />
    Swansea<br />
    <abbr title="Phone">P:</abbr>
    00000000000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:838940@swansea.ac.uk">Carlo Sarli - 838940</a><br />
</address>