
@{
    ViewBag.Title = "NotAuthorised";
}

<h2>Not Authorised</h2>
<p>You don't seem to have permission to do or see whatever you're trying to do or see </p>

@Html.ActionLink("Back", "Index", "Home", null , null)