@model IEnumerable<Web.Models.ViewedPost>
@{
    ViewBag.Title = "SeenList";
}

<h2>SeenList</h2>

<div id="seenBar">
    <p>@(ViewBag.Percent)%</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" 
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%">

        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <dl>
        <dd>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.User.Name)
        </dd>

    </dl>
}