@model IEnumerable<Web.Models.ViewedPost>
@{
    ViewBag.Title = "SeenList";
}

<h2>SeenList</h2>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>

    </tr>
}